*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 65.7%;
}

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #344563;
  background-color: #f7f7f9;
}

button {
  left: 90px;
  border: 1px solid #6070ff;
  border-radius: 0.8rem;
  background-color: #fff;
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 2.4rem;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  margin-top: 2rem;
  padding: 0 1.6rem;
  height: 48px;
  cursor: pointer;
  transition: all 0.4s ease-out;
}

button:hover {
  background-color: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

button:active {
  background-color: #2230d2;
}

.landing {
  height: auto;
  background-image: url(./img/bg-img.PNG);
  background-size: cover;
  background-position: left;
  padding: 0 2rem 0 2rem;
  padding-top: 2rem;
  border-radius: 0 0 0 120px;
  padding-bottom: 5rem;
}

.header-title {
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 1.7rem 0;
}

.header-title .header-text {
  font-weight: 700;
  font-size: 10vw;
  line-height: normal;
  display: flex;
  align-items: stretch;
  text-decoration: none;
  color: #344563;
}

.header-title1 {
  text-align: left;
  font-weight: 500;
  font-size: 3rem;
  line-height: 5.2rem;
  margin-bottom: 1.2rem;
}

.header-title1 a {
  text-decoration: none;
  color: #091e42;
}

.header-title1 span {
  display: block;
}

p {
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0;
}

.social-icons {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.social {
  padding: 0;
  margin: 0 1rem 3rem 1rem;
}

.social a {
  color: #7f8cff;
}

.social-icons li {
  padding-right: 1em;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.work {
  display: grid;
  justify-content: center;
  margin: 0 3%;
}

.single_work {
  padding: 16px;
  background: #fff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  margin: 88px 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  max-width: 120rem;
}

.single_work img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.single_work_details h3 {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 44px;
  /* color: #172b4d; */
}

.hoved:hover {
  background-color: #396df2;
  color: #fff;
}

.single_work_specific {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.6rem;
}

.single_work_specific h6 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.6rem;
}

.single_work_specific p::before {
  content: url("./img/cannopy.png");
  display: inline;
  width: 0.8rem;
  height: 0.8rem;
  object-fit: contain;
  margin: 0 1.2rem;
}

.single_work_stack {
  display: flex;
  column-gap: 0.8rem;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.6rem;
  letter-spacing: 0.03em;
}

.single_work_stack li {
  list-style: none;
  padding: 0.4rem 1.2rem;
  background: #ebebff;
  border-radius: 0.8rem;
}

.card {
  width: 327px;
  height: 552px;
  left: calc(50% - 327px / 2);
  top: 114px;
  position: static;
  display: flex;
  flex-direction: column;
  padding: 16px;
  background: #fff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 88px 0;
  justify-content: start;
}

.card-header {
  position: static;
  width: 295px;
  height: 220px;
  left: 16px;
  top: 16px;
  background: url("./img/work_image.PNG");
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0;
}

.card-header1 {
  position: static;
  width: 295px;
  height: 220px;
  left: 16px;
  top: 16px;
  background: url("./img/gym.png");
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0;
}

.card-header2 {
  position: static;
  width: 295px;
  height: 220px;
  left: 16px;
  top: 16px;
  background: url("./img/multpost.png");
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0;
}

.card-header3 {
  position: static;
  width: 295px;
  height: 220px;
  left: 16px;
  top: 16px;
  background: url("./img/proffessional.png");
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0;
}

.card-titles {
  position: static;
  width: 295px;
  height: 36px;
  left: 0;
  top: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0;
}

.about-title {
  font-weight: 700;
  font-size: 32px;
}

.flame {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.canopy {
  position: static;
  width: 55px;
  height: 16px;
  left: 0;
  top: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 0;
}

.canopy-circle {
  position: static;
  width: 8px;
  height: 8px;
  left: 187px;
  top: 12px;
  background: #c1c7d0;
  flex: none;
  order: 3;
  flex-grow: 0;
  margin: 0 12px;
  border-radius: 50%;
}

.canopy-details {
  display: flex;
}

.bandle {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: start;
  text-align: start;
}

.bandle p {
  left: 0;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.card-content h3 {
  margin: 1rem 0 0.5rem 0;
}

.card-content p {
  font-size: 14px;
  text-align: left;
}

.language {
  display: flex;
  background: #ebebff;
  border-radius: 8px;
  position: static;
  width: 8rem;
  height: 3rem;
  left: 0;
  align-items: center;
  justify-content: center;
  top: 0;
  padding: 10px;
}

.language_box {
  display: flex;
  background: #ebebff;
  border-radius: 8px;
  list-style: none;
}

.about {
  border-radius: 0 130px 0 0;
  margin-top: 2rem;
  position: relative;
  background: #fff;
  padding-right: 6vw;
  padding-left: 6vw;
  padding-bottom: 8rem;
  padding-top: 1rem;
}

.resume {
  color: #396df2;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  width: auto;
}

.languages-title {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.languages-span {
  transform: rotate(-90deg);
  font-weight: 700;
  font-size: 1rem;
}

.language-list {
  flex-direction: row;
  list-style: none;
  margin-top: 1rem;
  align-items: center;
}

.language-list li {
  display: flex;
  align-items: center;
  margin-top: 12px;
  height: 67px;
  background-color: #f7f7f9;
  border-radius: 8px;
}

.language-list li div {
  margin-right: 2rem;
  display: flex;
}

.image-list {
  align-items: center;
}

.flamewok-span {
  transform: rotate(180deg);
}

.content_btn {
  display: flex;
  margin-bottom: 16px;
}

.content_btn li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  list-style: none;
  position: static;
  height: 24px;
  left: 0;
  top: 0;
  background: #ebebff;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-right: 8px;
}

.content_btn li p {
  position: static;
  width: 65px;
  height: 16px;
  left: 12px;
  top: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 0;
}

.for-html {
  width: 53px;
}

.for-css {
  width: 45px;
}

.for-js {
  width: 89px;
}

.see-project {
  display: flex;
  padding: 12px;
  width: 150px;
  height: 48px;
  left: 0;
  top: calc(50% - 48px / 2);
  justify-content: center;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
}

.see {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 10px;
  text-decoration: none;
}

.contact-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url("./img/contact-img.svg");
  background-color: #6070ff;
  background-position: right;
  background-repeat: no-repeat;
  padding: 2rem 24px;
  border-radius: 5rem 0 0 0;
}

.contact-form form ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.form_header_title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #fff;
}

.form_header_p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #ebebff;
}

.contact-form form input {
  padding: 20px 20px;
  margin: 15px 0;
  height: 48px;
  width: 95%;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
}

.text-area {
  height: 170px;
  width: 95%;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 15px 16px;
}

.form_header {
  margin-top: 103px;
}

.contact-form form ul .btn {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.contact-form form button {
  height: 48px;
  width: 140px;
  padding: 12px 16px;
  color: #6070ff;
  font-size: 17px;
  font-weight: 500;
  border-radius: 8px;
  border: 0;
}

.logo-text {
  color: #6070ff;
  fill: #6070ff;
}

.for-desktop {
  display: none;
}

.content-header {
  padding: 0;
  margin: 12rem 2rem 3rem 1rem;
}

.navigation {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  align-items: center;
  text-align: center;
}

/* mobile popup */
.popup-page {
  position: fixed;
  background-color: #6070ffd5;
  backdrop-filter: blur(6px);
  width: 100vw;
  height: 100vh;
  padding: 2.8rem;
  z-index: 1000;
}

.page-popup__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 3.2rem;
  color: #fff;
}

.popup-page__icon {
  display: flex;
  flex-direction: row-reverse;
  padding: 1rem 2.5rem;
  fill: #fff;
}

.popup-page__nav li {
  list-style: none;
}

.popup-page__nav li:not(:first-child) {
  margin-top: 2rem;
}

@media (min-width: 900px) {
  html {
    font-size: 62.5%;
  }

  .popup-page {
    display: none !important;
  }

  .navigation {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    margin-left: 5rem;
    margin-right: 5rem;
    align-items: center;
    text-align: center;
  }

  .details {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 28px;
    color: #344563;
    flex: none;
    order: 1;
    flex-grow: 0;
    width: 80%;
  }

  .social-about {
    margin: 0;
  }

  .single_work {
    grid-template-columns: repeat(2, 1fr);
    max-height: 100rem;
  }

  .single_work_details {
    padding: 48px 45px;
  }

  .work {
    margin-left: 12.2rem;
  }

  .single_work img {
    height: auto;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    padding: 1.6rem;
    transition: all 0.4s ease-out;
  }

  .about {
    display: grid;
    grid-template-columns: 4fr 6fr;
  }

  .about-me {
    padding: 5.2rem 1rem 5.6rem 5.2rem;
  }

  .languages {
    padding: 5.2rem 1.7rem 5.6rem 5.2rem;
  }

  .language-list {
    display: flex;
    flex-direction: row;
  }

  .content-header {
    padding: 0;
    margin: 24rem 10rem 0 10rem;
  }

  .contact-form {
    align-items: center;
  }

  .contact-form form {
    width: 50%;
  }

  .form_header {
    width: 50%;
  }

  .btn {
    align-self: center !important;
  }

  .nav_link {
    display: block;
    text-decoration: none;
    color: #344563;
  }

  .nav_link:hover {
    color: #396df2;
    transform: translateY(-3px);
  }

  .zig-zag img {
    order: 1;
  }

  .language-list li {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    height: auto;
    margin-bottom: 4rem;
    margin-right: 1.2rem;
  }

  .for-mobile {
    display: none;
  }

  .menu li {
    margin-right: 2rem;
    color: #344563;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 20px;
  }

  .for-desktop {
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: center;
  }

  .logo-text {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    animation-name: spinner;
    animation-duration: 1.5s;
  }

  @keyframes spinner {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  .landing {
    height: auto;
    background-image: url(./img/bg-img.PNG);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    padding: 0 2rem 0 2rem;
    padding-top: 2rem;
    border-radius: 0 0 0 120px;
    padding-bottom: 5rem;
  }

  .menu {
    display: flex;
    justify-content: flex-end;
    list-style: none;
  }

  .header-title .header-text {
    position: static;
    width: 920px;
    height: 122px;
    left: 0;
    top: 0;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    display: flex;
    flex-direction: column;
    letter-spacing: 0.37px;
    margin: 20.4rem 10rem 0 10rem;
  }

  .social {
    margin: 0 10rem 0 10rem;
  }

  .card {
    display: flex;
    flex-direction: row;
    width: auto;
  }

  .popup-window {
    backdrop-filter: blur(8px);
    min-width: 100%;
    min-height: 80vh;
    padding: 5rem 10rem;
    position: absolute;
  }

  .Popup-window__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .Popup-window__header .toggle-h3 {
    color: #67798E;
  }

  .popup-window__mult-post {
    width: 100%;
    height: auto;
  }

  .for-popup {
    padding: 2.4rem;
    z-index: 10;
    background: #FFFFFF;
    border: 1px solid #EBECF0;
    box-shadow: 0px 48px 48px rgba(37, 47, 137, 0.08);
    border-radius: 16px;
  }

  .popup__container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 5.9rem 2.4rem;
  }

  .popup-details p {
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 3rem;
    color: #344563;
    margin: 0;
  }

  .popup__buttons {
    padding: 0 1rem;
  }
  .popup__buttons .single_work_stack{
    padding-top: 1.2rem;
  }
  .popup-links{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    flex-wrap: wrap;

  }
  .popup-links li button{
    padding: 2px 6px !important;
   padding: 0;
   width: auto;
   font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .popup-links li button span{
    padding-left: 2px;
  }
}

.card-image {
  transition: all 0.3s ease-in;
}

.card-image:hover {
  transform: scale(1.2);
}